# Archivos compilados de Python y cache
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales de Python
.venv/
env/
venv/
ENV/

# Variables de entorno con datos sensibles
.env
.envrc

# Base de datos local SQLite y archivos de registro
*.log
db.sqlite3
db.sqlite3-journal

# Configuraciones de editores de codigo (VS Code)
.vscode/

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db